<br>
<section class="py-5 text-center container" >
    <div class="row py-lg-5" >
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">AiZe CONTACT</h1>
      </div>
    </div>
  </section>
<br>
<div class="album py-5" style="background: #FEE3EC;">
    <div class="container" >
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header text-white" style="background: #F999B7;"><i class="fa fa-envelope"></i> Contact us.
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter name" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" required>
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <div class="form-group">
                                <label for="message">Message</label>
                                <textarea class="form-control" id="message" rows="6" required></textarea>
                            </div>
                            <br>
                            <div class="mx-auto">
                            <button type="submit" class="btn text-right text-white" style="background: #F999B7;">Submit</button></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4">
                <div class="card bg-light mb-3">
                    <div class="card-header text-white text-uppercase" style="background: #F999B7;"><i class="fa fa-home" ></i> Address</div>
                    <div class="card-body">
                        <p>หนองปากโลง 	เมืองนครปฐม	นครปฐม</p>
                        <p>73000</p>
                        <p>Thailand</p>
                        <p>Email : AiZe@outmail.com</p>
                        <p>Tel. +89 918 716</p>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>