<main>
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <div>
          <img width="100%" height="100%" class="d-md-block d-none" src="https://contents.perfect.ne.jp/media/ic0goG/uzwtgf9x5b.png" alt="">
      </div>
    </div>
  
  
    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
  
    <div class="container marketing">
        <br>
        <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Macross Delta เผยปกซิงเกิลลำดับที่ 4 ของ Walkure</h2>
          <p class="lead">Mirai wa Onna no Tame ni aru จะมีการบรรจุเพลงทั้งหมด 5 เพลงคือเพลง Mirai wa Onna no Tame ni aru, Run ni Hanasaku Koi mo aru, Koi! Halation THE WAR extened version (2020 NEW MIX) และเพลงแบบ Instrumental ทั้งหมด 2 เพลง ส่วน ของแถมพิเศษสำหรับเวอร์ชั่น Limited จะเป็น Blu-ray บันทึกการแสดงสดที่ Inu Fes! โดยมีทั้งหมด 3 เพลงด้วยกันคือ Ikenai Border Line, Ichido dake no Koi nara และ Wakure ga tomaranai</p>
        </div>
        <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="https://img.online-station.net/_content/2020/0402/161067/gallery/0101_450_450.jpg" alt="" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h2 class="featurette-heading">Macross Forntier Live 2021!</h2>
          <p class="lead">อีกครั้งแล้วโดยจะมีการจัดขึ้นในปี 2021 และเป็นไลฟ์คอนเสิร์ตครั้งแรกในรอบ 10 ปีของ Macross Frontier ใครที่คิดถึง Ranka กับ Sheryl บอกเลยว่าห้ามพลาดเด็ดขาด!!</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="https://macross.jp/img/uploads/news/202111231053_02555.jpg" alt="" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
        </div>
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">ระดับทางช้างเผือก PROPLICA เปิดตัวไมค์ขนาด 1:1 ของ Ranka และ Sheryl จาก <span class="text-muted">Macross Frontier</span></h2>
            <p class="lead">PROPLICA แบรนด์สินค้าสำหรับเด็กโตและผู้ใหญ่ที่จะนำของจากโลกอนิเมะ มาให้เราได้จับต้องกันจริงๆแบบ 1:1 ได้ประกาศแจ้งข่าวที่จะทำให้สาวกอนิเมะหุ่น Macross Frontier ต้องลุกขึ้นมาโห่ร้องด้วยความดีใจแล้ว เพราะสินค้าชิ้นถัดไปก็ถือไมค์ร้องเพลงของ Ranka กับ Sheryl นั่นเอง</p>
        </div>
        <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="https://www.online-station.net/wp-content/uploads/2021/11/PROPLICA.jpg" alt="" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
        </div>
      </div>
      <hr class="featurette-divider">
    </div>